::deep.url-list {
    margin: 0;
    padding: 0;
}

::deep.url-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep.url-link {
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .fluent-popover-content {
    overflow-wrap: normal;
    word-break: normal;
    max-height: 300px;
    overflow-y: auto;
    max-width: 400px;
    overflow-x: hidden;
    cursor: default;
}

::deep .fluent-popover-content div[part="header"] {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 8px;
}
