.vscode/**
.vscode-test/**
.test-*
.test-*/**
.test-artifacts/**
.test-extensions/**
.test-results/**
.test-storage/**
.test-workspaces/**
.mocharc.e2e.js
tsconfig.e2e.json
scripts/run-e2e.js
test-e2e/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.js.map