::deep.span-details-layout > .details-toolbar > .toolbar-end .span-details-actions,
::deep.span-details-layout > .details-toolbar > .toolbar-end .span-details-actions::part(control) {
    border-radius: 6px;
}

::deep .property-grid-container h4 {
    padding: var(--spacingHorizontalM);
    margin-top: var(--spacingVerticalXS);
    margin-bottom: 0;
}

::deep .spanlink-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--spacingHorizontalXXS);
    align-items: center;
}

::deep .spanlink-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
