<?xml version="1.0" encoding="utf-8"?>
<!--
  NuGet.config for polyglot test fixtures needs to clear all package sources and mappings so it doesn't use the root NuGet.config.
  That way the fixture restores do not inherit root-level package source mappings.
  -->
<configuration>
  <packageSources>
    <clear />
  </packageSources>
  <packageSourceMapping>
    <clear />
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
