@using Aspire.Dashboard.Resources

<FluentDialogHeader ShowDismiss="true">
    <div class="dialog-title-grid">
        <FluentIcon Value="@(new Icons.Regular.Size24.BotSparkle())" Style="grid-area: dialog-icon; align-self: center;" />
        <FluentLabel Typo="Typography.PaneHeader" Class="col-long-content" Style="grid-area: dialog-title;">
            @Loc[nameof(Dialogs.AIAgentsDialogTitle)]
        </FluentLabel>
    </div>
</FluentDialogHeader>

<FluentDialogBody Style="overflow-x: hidden">
    <div class="markdown-content">
        <MarkdownRenderer Markdown="@Description" MarkdownProcessor="@GetMarkdownProcessor()" SuppressParagraphOnNewLines="false" />
    </div>
</FluentDialogBody>
