::deep .name-title-text {
    display: flex;
    align-items: center;
    margin-left: 34px;
    user-select: none;
}

::deep .resources-name-container {
    display: flex;
    align-items: center;
}

::deep .resource-name-container {
    display: inline-flex;
}

::deep .column-header {
    align-content: center;
}

::deep .fluent-data-grid {
    --datagrid-hover-color: color-mix(in srgb, var(--accent-fill-rest) 8%, var(--dialog-background-color));
}

::deep .fluent-data-grid-row[row-type='sticky-header'] .column-header {
    background-color: var(--dialog-background-color);
    border-bottom: 1px solid var(--neutral-stroke-divider-rest);
}

.button-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 16px;
}

.error-message {
    color: var(--error);
    font-size: var(--type-ramp-minus-1-font-size);
    margin-top: 8px;
}
