.notifications-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.notification-center-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 16px;
    color: var(--neutral-foreground-hint);
    gap: 8px;
}

.notifications-dismiss {
    display: flex;
    justify-content: flex-end;
}

.notifications-scroll {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}

.notifications-scroll ::deep > :last-child {
    border-bottom: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-divider-rest);
}
