.dialog-title-grid ::deep .text-visualizer-dialog-title {
    font: inherit;
}

::deep .highlight-line {
    width: 100%;
    background: transparent;
}

.button-container {
    display: flex;
    width: 100%;
}

.button-container-right {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.copy-button-icon {
    margin-right: 11px;
    display: flex;
}

.text-visualizer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120px;
}

.text-visualizer-container ::deep.log-overflow,
.markdown-content {
    max-height: 60vh;
    margin-bottom: 16px;
}

.markdown-content {
    overflow-y: auto;
    overflow-wrap: anywhere;
}
